.skills_container {
  height: 90vh;
  color: #646464;
  margin: 50px;
  font-size: 25px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.bottom_block {
  transition: ease-in-out 50ms;
  opacity: 0;
}

.bottom_block div {
  margin-top: 10px;
}