.link {
  color: #000;

  background: linear-gradient(#646464, #646464 50%, #5050fa 50%, #5050fa);
  background-size: 100% 200%;
  transition: background .3s;
}

.link:hover {
  background-position: 100% 100%;
}